<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwExceptions="true"
	throwConfigExceptions="true"
	internalLogFile="nlogConfig.log"
	internalLogLevel="trace">

	<targets>
		<!--<target name="FileTarget" xsi:type="File"
				fileName="./LogRollingTest.log"
				encoding="UTF-8"
				archiveDateFormat="yyyy-MM-dd-HH-mm"
				archiveFileName="./LogRollingTestArchive-{#}.log"
				archiveNumbering="Date"
				archiveEvery="Minute"
				keepFileOpen="true" />-->

		<target name="FileTarget" xsi:type="File"
				fileName="./LogRollingTest-${date:format=yyyy-MM-ddTHH-mm}.log"
				keepFileOpen="true" />
	</targets>

	<rules>
		<logger name="FileTarget" minlevel="Info" writeTo="FileTarget" />
	</rules>
</nlog>