<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwExceptions="true" 
	throwConfigExceptions="true"
	  internalLogFile="nlogConfig.log"
	  internalLogLevel="trace">

	<variable name="env" value="debug" />

	<targets>
		<target name="consoleTarget" xsi:type="Console" layout="${longdate} level=${level:uppercase=true} host=${machinename} ${message} env=${env} ${newline}" />

		<target name="FileTarget" xsi:type="File"
				layout="${longdate} level=${level:uppercase=true} host=${machinename} ${message} env=${env} ${newline}"
				fileName="./Akira.API.RequestTraceLog-${date:format=yyyy-MM-ddTHH-mm}.log"
				encoding="UTF-8"
				archiveDateFormat="yyyyMMddHHmm"
				archiveFileName="./Akira.API.RequestTraceLog-{#################}.log"
				maxArchiveFiles="14"
				archiveNumbering="Date"
				archiveEvery="Minute"
				autoFlush="false"
				concurrentWrites="true"
				keepFileOpen="true" />
	</targets>
	<!--
	archiveDateFormat="yyyy-MM-dd-HH-mm"
					archiveDateFormat="yyyy-MM-ddTHH:mm:ss"
					
	-->

	<rules>
		<logger name="FileTarget" minlevel="Info" writeTo="FileTarget" final="true" />
		<logger name="*" minlevel="Debug" writeTo="consoleTarget" />
	</rules>

</nlog>